[package]
name = "binstalk-fetchers"
version = "0.2.2"
edition = "2021"

description = "The binstall fetchers"
repository = "https://github.com/cargo-bins/cargo-binstall"
documentation = "https://docs.rs/binstalk-fetchers"
rust-version = "1.65.0"
authors = ["Jiahao XU <Jiahao_XU@outlook.com>"]
license = "GPL-3.0-only"

[dependencies]
async-trait = "0.1.68"
binstalk-downloader = { version = "0.9.6", path = "../binstalk-downloader", default-features = false, features = ["gh-api-client"] }
binstalk-types = { version = "0.6.1", path = "../binstalk-types" }
bytes = "1.4.0"
compact_str = { version = "0.7.0" }
either = "1.8.1"
itertools = "0.12.0"
leon = { version = "2.0.1", path = "../leon" }
leon-macros = { version = "1.0.0", path = "../leon-macros" }
miette = "5.9.0"
minisign-verify = "0.2.1"
once_cell = "1.18.0"
strum = "0.26.1"
thiserror = "1.0.52"
tokio = { version = "1.36.0", features = ["rt", "sync"], default-features = false }
tracing = "0.1.39"
url = "2.3.1"

[dev-dependencies]
binstalk-downloader = { version = "0.9.6", path = "../binstalk-downloader" }

[features]
quickinstall = []

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
all-features = true
