[package]
name = "cargo-binstall"
description = "Rust binary package installer for CI integration"
repository = "https://github.com/cargo-bins/cargo-binstall"
documentation = "https://docs.rs/cargo-binstall"
version = "1.0.0"
rust-version = "1.65.0"
authors = ["ryan <ryan@kurte.nz>"]
edition = "2021"
license = "GPL-3.0-only"
readme = "../../README.md"

# These MUST remain even if they're not needed in recent versions because
# OLD versions use them to upgrade
[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-{ target }.{ archive-format }"
bin-dir = "{ bin }{ binary-ext }"

[package.metadata.binstall.overrides.x86_64-pc-windows-msvc]
pkg-fmt = "zip"
[package.metadata.binstall.overrides.x86_64-apple-darwin]
pkg-fmt = "zip"

[dependencies]
binstalk = { path = "../binstalk", version = "0.13.0", default-features = false }
binstalk-manifests = { path = "../binstalk-manifests", version = "0.6.0" }
clap = { version = "4.3.0", features = ["derive", "env"] }
compact_str = "0.7.0"
dirs = "5.0.1"
file-format = { version = "0.18.0", default-features = false }
fs-lock = { version = "0.1.0", path = "../fs-lock" }
gh-token = "0.1.2"
log = { version = "0.4.18", features = ["std"] }
miette = "5.9.0"
mimalloc = { version = "0.1.37", default-features = false, optional = true }
once_cell = "1.18.0"
semver = "1.0.17"
strum = "0.25.0"
strum_macros = "0.25.0"
supports-color = "2.0.0"
tempfile = "3.5.0"
tokio = { version = "1.28.2", features = ["rt-multi-thread"], default-features = false }
tracing-core = "0.1.31"
tracing = { version = "0.1.37", default-features = false }
tracing-log = { version = "0.1.3", default-features = false }
tracing-subscriber = { version = "0.3.17", features = ["fmt", "json", "ansi"], default-features = false }

[build-dependencies]
embed-resource = "2.1.1"
vergen = { version = "8.2.4", features = ["build", "cargo", "git", "gitcl", "rustc"] }

[features]
default = ["static", "rustls", "trust-dns", "fancy-no-backtrace", "zstd-thin", "git"]

git = ["binstalk/git"]
git-max-perf = ["binstalk/git-max-perf"]

mimalloc = ["dep:mimalloc"]

static = ["binstalk/static"]
pkg-config = ["binstalk/pkg-config"]

zlib-ng = ["binstalk/zlib-ng"]

rustls = ["binstalk/rustls"]
native-tls = ["binstalk/native-tls"]

trust-dns = ["binstalk/trust-dns"]

zstd-thin = ["binstalk/zstd-thin"]
cross-lang-fat-lto = ["binstalk/cross-lang-fat-lto"]

fancy-no-backtrace = ["miette/fancy-no-backtrace"]
fancy-with-backtrace = ["fancy-no-backtrace", "miette/fancy"]

log_max_level_info = ["log/max_level_info", "tracing/max_level_info", "log_release_max_level_info"]
log_max_level_debug = ["log/max_level_debug", "tracing/max_level_debug", "log_release_max_level_debug"]

log_release_max_level_info = ["log/release_max_level_info", "tracing/release_max_level_info"]
log_release_max_level_debug = ["log/release_max_level_debug", "tracing/release_max_level_debug"]

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
