[package]
name = "binstalk"
description = "The binstall toolkit (library interface)"
repository = "https://github.com/cargo-bins/cargo-binstall"
documentation = "https://docs.rs/binstalk"
version = "0.4.1"
rust-version = "1.61.0"
authors = ["ryan <ryan@kurte.nz>"]
edition = "2021"
license = "GPL-3.0"

[dependencies]
async-trait = "0.1.58"
binstalk-downloader = { version = "0.1.0", path = "../binstalk-downloader" }
binstalk-manifests = { version = "0.1.0", path = "../binstalk-manifests" }
binstalk-signal = { version = "0.1.0", path = "../binstalk-signal" }
cargo_toml = "0.13.0"
compact_str = { version = "0.6.0", features = ["serde"] }
crates_io_api = { version = "0.8.1", default-features = false }
detect-targets = { version = "0.1.2", path = "../detect-targets" }
futures-util = { version = "0.3.25", default-features = false, features = ["std"] }
home = "0.5.4"
itertools = "0.10.5"
jobslot = { version = "0.2.6", features = ["tokio"] }
log = { version = "0.4.17", features = ["std"] }
miette = "5.4.1"
normalize-path = { version = "0.2.0", path = "../normalize-path" }
once_cell = "1.16.0"
semver = { version = "1.0.14", features = ["serde"] }
serde = { version = "1.0.147", features = ["derive"] }
strum = "0.24.1"
tempfile = "3.3.0"
thiserror = "1.0.37"
tinytemplate = "1.2.1"
tokio = { version = "1.21.2", features = ["rt", "process", "sync"], default-features = false }
url = { version = "2.3.1", features = ["serde"] }
xz2 = "0.1.7"

[dev-dependencies]
env_logger = "0.9.3"

[features]
default = ["static", "rustls"]

static = ["binstalk-downloader/static"]
pkg-config = ["binstalk-downloader/pkg-config"]

zlib-ng = ["binstalk-downloader/zlib-ng"]

rustls = ["crates_io_api/rustls", "binstalk-downloader/rustls"]
native-tls = ["binstalk-downloader/native-tls"]

trust-dns = ["binstalk-downloader/trust-dns"]
