[package]
name = "binstalk"
description = "The binstall toolkit (library interface)"
repository = "https://github.com/cargo-bins/cargo-binstall"
documentation = "https://docs.rs/binstalk"
version = "0.3.0"
rust-version = "1.61.0"
authors = ["ryan <ryan@kurte.nz>"]
edition = "2021"
license = "GPL-3.0"

[dependencies]
async-trait = "0.1.57"
bytes = "1.2.1"
bzip2 = "0.4.3"
cargo_toml = "0.12.4"
compact_str = { version = "0.6.0", features = ["serde"] }
crates_io_api = { version = "0.8.1", default-features = false }
detect-targets = { version = "0.1.2", path = "../detect-targets" }
digest = "0.10.5"
flate2 = { version = "1.0.24", default-features = false }
fs-lock = { version = "0.1.0", path = "../fs-lock" }
futures-util = { version = "0.3.23", default-features = false, features = ["std"] }
generic-array = "0.14.6"
home = "0.5.3"
itertools = "0.10.5"
jobslot = { version = "0.2.6", features = ["tokio"] }
log = { version = "0.4.17", features = ["std"] }
miette = "5.3.0"
normalize-path = { version = "0.1.0", path = "../normalize-path" }
once_cell = "1.15.0"
reqwest = { version = "0.11.12", features = ["stream", "gzip", "brotli", "deflate"], default-features = false }
scopeguard = "1.1.0"
semver = { version = "1.0.14", features = ["serde"] }
serde = { version = "1.0.145", features = ["derive"] }
serde-tuple-vec-map = "1.0.1"
serde_json = "1.0.83"
strum = "0.24.1"
strum_macros = "0.24.3"
# Use a fork here since we need PAX support, but the upstream
# does not hav the PR merged yet.
#
#tar = "0.4.38"
tar = { package = "binstall-tar", version = "0.4.39" }
tempfile = "3.3.0"
thiserror = "1.0.37"
tinytemplate = "1.2.1"
tokio = { version = "1.21.2", features = ["macros", "rt", "process", "sync", "signal", "time"], default-features = false }
toml_edit = { version = "0.14.4", features = ["easy"] }
trust-dns-resolver = { version = "0.21.2", optional = true, default-features = false, features = ["dnssec-ring"] }
url = { version = "2.3.1", features = ["serde"] }
xz2 = "0.1.7"

# Use a fork here since upstream has not published a new release for a long time
# while many of its dependencies are updated.
# Also becasue we need streaming extraction.
#
# Disable all features of zip except for features of compression algorithms:
# Disabled features include:
#  - aes-crypto: Enables decryption of files which were encrypted with AES, absolutely zero use for
#    this crate.
#  - time: Enables features using the [time](https://github.com/time-rs/time) crate,
#    which is not used by this crate.
zip = { package = "binstall-zip", version = "0.6.3", default-features = false, features = ["deflate", "bzip2", "zstd"] }

# zstd is also depended by zip.
# Since zip 0.6.3 depends on zstd 0.11, we also have to use 0.11 here,
# otherwise there will be a link conflict.
zstd = { version = "0.11.2", default-features = false }

[dev-dependencies]
env_logger = "0.9.1"

[features]
default = ["static", "rustls"]

static = ["bzip2/static", "xz2/static"]
pkg-config = ["zstd/pkg-config"]

zlib-ng = ["flate2/zlib-ng"]

rustls = [
    "crates_io_api/rustls",
    "reqwest/rustls-tls",

    # Enable the following features only if trust-dns-resolver is enabled.
    "trust-dns-resolver?/dns-over-rustls",
    # trust-dns-resolver currently supports https with rustls
    "trust-dns-resolver?/dns-over-https-rustls",
]
native-tls = ["reqwest/native-tls", "trust-dns-resolver?/dns-over-native-tls"]

# Enable trust-dns-resolver so that features on it will also be enabled.
trust-dns = ["trust-dns-resolver", "reqwest/trust-dns"]
