name: CI

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      additional_key:
        required: true
        type: string
        default: ""
  merge_group:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
    paths:
      - 'Cargo.lock'
      - 'Cargo.toml'
      - '**/Cargo.toml'


concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.event.pull_request.number || github.sha }}-${{ inputs.additional_key }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  JUST_ENABLE_H3: true
  CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 4
  CARGO_PROFILE_DEV_CODEGEN_UNITS: 4
  CARGO_PROFILE_CHECK_ONLY_CODEGEN_UNITS: 4

jobs:
  changed-files:
    runs-on: ubuntu-latest
    name: Test changed-files
    permissions:
      pull-requests: read

    outputs:
      crates_changed: ${{ steps.list-changed-files.outputs.crates_changed }}
      has_detect_target_changed: ${{ steps.list-changed-files.outputs.has_detect_target_changed }}
      has_fs_lock_changed: ${{ steps.list-changed-files.outputs.has_fs_lock_changed }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 2

      - name: List all changed files
        id: list-changed-files
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          set -euxo pipefail
          crates_changed="$(for file in $ALL_CHANGED_FILES; do echo $file; done | grep crates | cut -d / -f 2 | sed 's/^bin$/cargo-binstall/' || echo)"
          has_detect_target_changed="$(echo "$crates_changed" | grep -q detect-targets && echo true || echo false)"
          has_fs_lock_changed="$(echo "$crates_changed" | grep -q fs-lock && echo true || echo false)"
          echo "crates_changed=${crates_changed//$'\n'/ }" | tee -a "$GITHUB_OUTPUT"
          echo "has_detect_target_changed=$has_detect_target_changed" | tee -a "$GITHUB_OUTPUT"
          echo "has_fs_lock_changed=$has_fs_lock_changed" | tee -a "$GITHUB_OUTPUT"

  unit-tests:
    needs: changed-files
    runs-on: ubuntu-latest
    env:
      CARGO_BUILD_TARGET: x86_64-unknown-linux-gnu

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/just-setup
        env:
          # just-setup use binstall to install sccache,
          # which works better when we provide it with GITHUB_TOKEN.
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}
        with:
          tools: cargo-nextest

      - name: Decide crates to test
        shell: bash
        env:
          CRATES_CHANGED: ${{ needs.changed-files.outputs.crates_changed }}
        run: |
          ARGS=""
          for crate in $CRATES_CHANGED; do
              ARGS="$ARGS -p $crate"
          done
          echo "CARGO_NEXTEST_ADDITIONAL_ARGS=$ARGS" | tee -a "$GITHUB_ENV"

      - run: just unit-tests
        if: env.CARGO_NEXTEST_ADDITIONAL_ARGS != ''
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}
          CI_UNIT_TEST_GITHUB_TOKEN: ${{ secrets.CI_UNIT_TEST_GITHUB_TOKEN }}

  e2e-tests:
    if: github.event_name != 'pull_request' && github.repository_owner == 'cargo-bins'
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest

    runs-on: ${{ matrix.os }}
    env:
      CARGO_BUILD_TARGET: ${{ matrix.target }}

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/just-setup
        env:
          # just-setup use binstall to install sccache,
          # which works better when we provide it with GITHUB_TOKEN.
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN }}

      - run: just build
      - run: just e2e-tests
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TEST_GITHUB_TOKEN }}

  cross-check:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: armv7-unknown-linux-musleabihf
            os: ubuntu-latest
          - target: armv7-unknown-linux-gnueabihf
            os: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-pc-windows-msvc
            os: windows-11-arm
    runs-on: ${{ matrix.os }}
    env:
      CARGO_BUILD_TARGET: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v6

      - name: Enable cargo-zigbuild
        if: matrix.os == 'ubuntu-latest'
        run: echo JUST_USE_CARGO_ZIGBUILD=true >> "$GITHUB_ENV"

      - uses: ./.github/actions/just-setup
        with:
          tools: cargo-hack@0.6.10
        env:
          # just-setup use binstall to install sccache,
          # which works better when we provide it with GITHUB_TOKEN.
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - run: just avoid-dev-deps
      - run: just check

  lint:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/just-setup
        env:
          # just-setup use binstall to install sccache,
          # which works better when we provide it with GITHUB_TOKEN.
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - run: just toolchain rustfmt,clippy
      - run: just avoid-dev-deps
      - run: just lint

  pr-info:
    outputs:
      is-release: ${{ steps.meta.outputs.is-release }}
      crate: ${{ steps.meta.outputs.crates-names }}

    runs-on: ubuntu-latest
    steps:
      - id: meta
        if: github.event_name == 'pull_request'
        uses: cargo-bins/release-meta@v1
        with:
          event-data: ${{ toJSON(github.event) }}
          extract-notes-under: "### Release notes"

  release-dry-run:
    needs: pr-info
    uses: ./.github/workflows/release-cli.yml
    if: github.event_name != 'pull_request'
    secrets: inherit
    with:
      info: |
        {
          "is-release": false,
          "crate": "${{ needs.pr-info.outputs.crate }}",
          "version": "0.0.0",
          "notes": ""
        }
      CARGO_PROFILE_RELEASE_LTO: no
      CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 4

  detect-targets-build:
    needs: changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - x86_64
          - aarch64
    steps:
      - uses: actions/checkout@v6
      - name: Install ${{ matrix.arch }}-unknown-linux-musl target
        run: |
          rustup target add ${{ matrix.arch }}-unknown-linux-musl
          pip3 install -r zigbuild-requirements.txt
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - name: Build detect-targets
        run: |
          cargo zigbuild --features cli-logging --target ${{ matrix.arch }}-unknown-linux-musl
        # Set working directory here, otherwise `cargo-zigbuild` would download
        # and build quite a few unused dependencies.
        working-directory: crates/detect-targets
      - uses: actions/upload-artifact@v6
        with:
          name: detect-targets-${{ matrix.arch }}
          path: target/${{ matrix.arch }}-unknown-linux-musl/debug/detect-targets

  detect-targets-alpine-test:
    runs-on: ubuntu-latest
    needs:
      - detect-targets-build
      - changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: detect-targets-x86_64
      - run: chmod +x detect-targets

      - name: Run test in alpine
        run: |
          docker run --rm \
            --mount src="$PWD/detect-targets",dst=/usr/local/bin/detect-targets,type=bind \
            --mount src="$PWD/.github/scripts/test-detect-targets-musl.sh",dst=/usr/local/bin/test.sh,type=bind \
            alpine /bin/ash -c "apk update && apk add bash && test.sh x86_64-unknown-linux-musl"

  detect-targets-ubuntu-arm-test:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - name: Build and run detect-targets tests
        run: |
          set -euxo pipefail
          output="$(cargo run --features cli-logging --bin detect-targets)"
          [ "$output" = "$(printf 'aarch64-unknown-linux-gnu\naarch64-unknown-linux-musl')" ]
        # Set working directory here, otherwise `cargo` would download
        # and build quite a few unused dependencies.
        working-directory: crates/detect-targets

  detect-targets-ubuntu-x86_64-test:
    needs:
      - detect-targets-build
      - changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: detect-targets-x86_64
      - run: chmod +x detect-targets

      - name: Run test in ubuntu
        run: |
          set -exuo pipefail
          [ "$(./detect-targets)" = "$(printf 'x86_64-unknown-linux-gnu\nx86_64-unknown-linux-musl')" ]

  detect-targets-more-glibc-test:
    needs:
      - detect-targets-build
      - changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    strategy:
      fail-fast: false
      matrix:
        container:
          - archlinux
          - fedora:37
          - fedora:38
          - fedora:39
          - fedora
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: detect-targets-x86_64
      - run: chmod +x detect-targets

      - name: Run test
        run: |
          set -exuo pipefail
          [ "$(docker run --rm \
            --mount src="$PWD/detect-targets",dst=/usr/local/bin/detect-targets,type=bind \
            ${{ matrix.container }} detect-targets )" = "$(printf 'x86_64-unknown-linux-gnu\nx86_64-unknown-linux-musl')" ]

  detect-targets-more-glibc-test-arm:
    needs:
      - detect-targets-build
      - changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: detect-targets-aarch64
      - run: chmod +x detect-targets

      - name: Run test
        run: |
          set -exuo pipefail
          [ "$(docker run --rm \
            --mount src="$PWD/detect-targets",dst=/usr/local/bin/detect-targets,type=bind \
            fedora detect-targets )" = "$(printf 'aarch64-unknown-linux-gnu\naarch64-unknown-linux-musl')" ]

  detect-targets-nix-test:
    needs:
      - detect-targets-build
      - changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: detect-targets-x86_64
      - run: chmod +x detect-targets

      - name: Run test
        run: |
          set -exuo pipefail
          [ "$(docker run --rm \
            --mount src="$PWD/detect-targets",dst=/detect-targets,type=bind \
            nixos/nix /detect-targets )" = x86_64-unknown-linux-musl ]

  detect-targets-android-check:
    needs: changed-files
    if: needs.changed-files.outputs.has_detect_target_changed == 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-linux-android

    runs-on: ubuntu-latest
    env:
      CARGO_BUILD_TARGET: ${{ matrix.target }}

    steps:
      - uses: actions/checkout@v6

      - name: Add ${{ matrix.target }}
        run: rustup target add ${{ matrix.target }}

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - name: Build detect-targets
        run: |
          cargo check --target ${{ matrix.target }}
        # Set working directory here, otherwise `cargo-check` would download
        # and build quite a few unused dependencies.
        working-directory: crates/detect-targets

  fs-lock-android-check:
    needs: changed-files
    if: needs.changed-files.outputs.has_fs_lock_changed == 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-linux-android

    runs-on: ubuntu-latest
    env:
      CARGO_BUILD_TARGET: ${{ matrix.target }}

    steps:
      - uses: actions/checkout@v6

      - name: Add ${{ matrix.target }}
        run: rustup target add ${{ matrix.target }}

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - name: Build detect-targets
        run: |
          cargo check --target ${{ matrix.target }}
        # Set working directory here, otherwise `cargo-check` would download
        # and build quite a few unused dependencies.
        working-directory: crates/fs-lock


  # Dummy job to have a stable name for the "all tests pass" requirement
  tests-pass:
    name: Tests pass
    needs:
      - unit-tests
      - e2e-tests
      - cross-check
      - lint
      - release-dry-run
      - detect-targets-build
      - detect-targets-alpine-test
      - detect-targets-ubuntu-arm-test
      - detect-targets-ubuntu-x86_64-test
      - detect-targets-more-glibc-test
      - detect-targets-nix-test
      - detect-targets-android-check
    if: always() # always run even if dependencies fail
    runs-on: ubuntu-latest
    steps:
      # fail if ANY dependency has failed or cancelled
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
      - run: exit 0
