name: Test GitHub Action installer
on:
  merge_group:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - install-from-binstall-release.ps1
      - install-from-binstall-release.sh
      - action.yml
  push:
    branches:
      - main
    paths:
      - install-from-binstall-release.ps1
      - install-from-binstall-release.sh
      - action.yml
      - .github/workflows/gh-action.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.event.pull_request.number || github.sha }}-${{ inputs.additional_key }}
  cancel-in-progress: true

jobs:
  test-gha-installer:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Install cargo-binstall
        uses: ./ # uses action.yml from root of the repo
        env:
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Verify successful installation - display cargo-binstall's help
        run: cargo binstall --help

      - name: Verify successful installation - install example binary using cargo-binstall
        run: cargo binstall -y ripgrep
        env:
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Verify successful installation - display help of installed binary
        run: rg --help

  # Dummy job to have a stable name for the "all tests pass" requirement
  tests-pass:
    name: GHA installer test pass
    needs:
      - test-gha-installer
    if: always() # always run even if dependencies fail
    runs-on: ubuntu-latest
    steps:
      # fail if ANY dependency has failed or cancelled
      - if: "contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')"
        run: exit 1
      - run: exit 0
