name: Integration

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      for_release: false

  test:
    needs: build

    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-apple-darwin
            os: macos-latest
            bin: cargo-binstall
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            bin: cargo-binstall
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            bin: cargo-binstall
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            bin: cargo-binstall.exe

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Download build
      uses: actions/download-artifact@v3
      with:
        name: "${{ matrix.target }}.${{ matrix.bin }}"

    - name: Test
      shell: bash
      run: ./ci-scripts/run_tests_unix.sh ${{ matrix.bin }} ${{ runner.os }}

