name: Open cargo-binstall release PR
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
        type: string
        default: patch

permissions:
  pull-requests: write

jobs:
  make-release-pr:
    permissions:
      id-token: write # Enable OIDC
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure toolchain
        run: |
          rustup toolchain install --profile minimal --no-self-update nightly
          rustup default nightly
      - uses: chainguard-dev/actions/setup-gitsign@main
      - name: Install cargo-release
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-release,cargo-semver-checks
        env:
          GITHUB_TOKEN: ${{ secrets.CI_RELEASE_TEST_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

      - run: rustup toolchain install stable --no-self-update --profile minimal
      - uses: cargo-bins/release-pr@v2.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ inputs.version }}
          crate-path: crates/bin
          pr-label: release
          pr-draft: true
          pr-release-notes: true
          pr-template-file: .github/scripts/release-pr-template.ejs
          check-semver: false
          check-package: true
        env:
          RUSTFLAGS: --cfg reqwest_unstable
