name: On release
on:
  pull_request:
    types: closed
    branches: [main] # target branch of release PRs

jobs:
  info:
    if: github.event.pull_request.merged

    outputs:
      is-release: ${{ steps.meta.outputs.is-release }}
      crate: ${{ steps.meta.outputs.crates-names }}
      version: ${{ steps.meta.outputs.version-actual }}
      notes: ${{ steps.meta.outputs.notes }}

    runs-on: ubuntu-latest
    steps:
    - id: meta
      uses: cargo-bins/release-meta@v1
      with:
        event-data: ${{ toJSON(github.event) }}
        extract-notes-under: '### Release notes'

  release-cli:
    if: needs.info.outputs.crate == 'cargo-binstall'
    needs: info
    uses: ./.github/workflows/release-cli.yml
    secrets: inherit
    with:
      info: ${{ toJSON(needs.info.outputs) }}

